<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find hmr)/hmr_description/urdf/test2.xacro'" />
  <node 
    name="spawn_urdf" 
    pkg="gazebo_ros" 
    type="spawn_model" 
    args="-param robot_description -urdf -model hmr" />     
    
  <include file="$(find hmr)/hmr_control/launch/hmr_control.launch" />
  <!-- <node 
    file= "$(find hmr)/hmr_description/src/main.py"
    pkg="src" 
    type="main.py"
    name="main"
    output="screen" /> -->
</launch>