<?xml version="1.0" encoding="utf-8"?>
<robot
  name="hmr">
  <!-- <material name="red">
    <color rgba="1.0 0.0 0.0 1.0"/>
  </material>
  <material name="blue">
    <color rgba="0.0 0.0 1.0 1.0"/>
  </material>
  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>       -->
  <link name="base">
  </link>
  <joint name="joint" type="fixed">
    <parent link="base"/>
    <child link="base_link"/>
  </joint>
  <!--BASE_LINK-->
  <link
    name="base_link">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hmr/meshes/base_link.STL" />
      </geometry>
      <material name="red">
        <color rgba="1.0 0.0 0.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hmr/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ljoint1"
    type="continuous">
    <origin
      xyz="0.12 0.06 -0.06"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="llink1" />
    <axis
      xyz="1 0 0" />
  </joint>
  <!--LLINK1-->
  <link
    name="llink1">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hmr/meshes/llink1.STL" />
      </geometry>
      <material name="blue">
        <color rgba="0.0 0.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hmr/meshes/llink1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ljoint2"
    type="continuous">
    <origin
      xyz="0 -0.5 0"
      rpy="0 0 0" />
    <parent
      link="llink1" />
    <child
      link="llink2" />
    <axis
      xyz="1 0 0" />
  </joint>
  <!--LLINK2-->
  <link
    name="llink2">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hmr/meshes/llink2.STL" />
      </geometry>
      <material name="green">
        <color rgba="0.0 1.0 0.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hmr/meshes/llink2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ljoint3"
    type="continuous">
    <origin
      xyz="0 -0.5 0"
      rpy="0 0 0" />
    <parent
      link="llink2" />
    <child
      link="llink3" />
    <axis
      xyz="1 0 0" />
  </joint>
  <!--LLINK3-->
  <link
    name="llink3">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hmr/meshes/llink3.STL" />
      </geometry>
      <material name="black">
        <color rgba="0.0 0.0 0.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hmr/meshes/llink3.STL" />
      </geometry>
    </collision>
  </link>
  <!---->
  <joint
    name="rjoint1"
    type="continuous">
    <origin
      xyz="-0.12 0.06 -0.06"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="rlink1" />
    <axis
      xyz="1 0 0" />
  </joint>
  <!--RLINK1-->
  <link
    name="rlink1">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hmr/meshes/rlink1.STL" />
      </geometry>
      <material name="blue">
        <color rgba="0.0 0.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hmr/meshes/rlink1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rjoint2"
    type="continuous">
    <origin
      xyz="0 -0.5 0"
      rpy="0 0 0" />
    <parent
      link="rlink1" />
    <child
      link="rlink2" />
    <axis
      xyz="1 0 0" />
  </joint>
  <!--RLINK2-->
  <link
    name="rlink2">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hmr/meshes/rlink2.STL" />
      </geometry>
      <material name="green">
        <color rgba="0.0 1.0 0.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hmr/meshes/rlink2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rljoint3"
    type="continuous">
    <origin
      xyz="0 -0.5 0"
      rpy="0 0 0" />
    <parent
      link="rlink2" />
    <child
      link="rlink3" />
    <axis
      xyz="1 0 0" />
  </joint>
  <!--RLINK3-->
  <link
    name="rlink3">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hmr/meshes/rlink3.STL" />
      </geometry>
      <material name="black">
        <color rgba="0.0 0.0 0.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hmr/meshes/rlink3.STL" />
      </geometry>
    </collision>
  </link>
</robot>