<?xml version="1.0" encoding="utf-8"?>
<robot
  name="hmr"
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="PI" value="3.1415926535897931"/>
  
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/hmr</robotNamespace>
      <!-- <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType> -->
    </plugin>
  </gazebo>  

  <!-- The ft_sensor plugin -->  
  <!-- <gazebo>
      <plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
          <updateRate>100.0</updateRate>
          <topicName>ft_sensor_topic</topicName>
          <jointName>schunk_wsg50_fixed_base_joint</jointName>
      </plugin>
  </gazebo> -->

  <gazebo reference="base">
    <material>Gazebo/Blue</material>
  </gazebo>


  <!--IMU-->

  <gazebo reference="imu_link">
    <gravity>true</gravity>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <topic>__default_topic__</topic>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <topicName>imu/data</topicName>
        <bodyName>base</bodyName>
        <updateRateHZ>10.0</updateRateHZ>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>imu_link</frameName>
        <initialOrientationAsReference>false</initialOrientationAsReference>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>

  <!--BASE_LINK-->
  
  <gazebo reference="base_link">
    <material>Gazebo/Blue</material>
  </gazebo>  

  <!--LLINK1-->
  
  <gazebo reference="llink1">
    <material>Gazebo/Blue</material>
  </gazebo>    
  <gazebo reference="ljoint1">
    <provideFeedback>true</provideFeedback>
  </gazebo>
  <gazebo>
    <plugin name="lft_sensor1" filename="libgazebo_ros_ft_sensor.so">
    <updateRate>100.0</updateRate>
    <topicName>lft_sensor1_topic</topicName>
    <jointName>ljoint1</jointName>
    </plugin>
  </gazebo>
  <!--LLINK2-->
  
  <gazebo reference="llink2">
    <material>Gazebo/Blue</material>
  </gazebo>   
  <gazebo reference="ljoint2">
    <provideFeedback>true</provideFeedback>
  </gazebo>
  <gazebo>
    <plugin name="lft_sensor2" filename="libgazebo_ros_ft_sensor.so">
    <updateRate>100.0</updateRate>
    <topicName>lft_sensor2_topic</topicName>
    <jointName>ljoint2</jointName>
    </plugin>
  </gazebo>
  <!--LLINK3-->
  
  <gazebo reference="llink3">
    <material>Gazebo/Blue</material>
  </gazebo>    
  <gazebo reference="ljoint3">
    <provideFeedback>true</provideFeedback>
  </gazebo>
  <gazebo>
    <plugin name="lft_sensor3" filename="libgazebo_ros_ft_sensor.so">
    <updateRate>100.0</updateRate>
    <topicName>lft_sensor3_topic</topicName>
    <jointName>ljoint3</jointName>
    </plugin>
  </gazebo>
  <!--RLINK1-->
  
  <gazebo reference="rlink1">
    <material>Gazebo/Blue</material>
  </gazebo>    
  <gazebo reference="rjoint1">
    <provideFeedback>true</provideFeedback>
  </gazebo>
  <gazebo>
    <plugin name="rft_sensor1" filename="libgazebo_ros_ft_sensor.so">
    <updateRate>100.0</updateRate>
    <topicName>rft_sensor1_topic</topicName>
    <jointName>rjoint1</jointName>
    </plugin>
  </gazebo>
  <!--RLINK2-->
 
  <gazebo reference="rlink2">
    <material>Gazebo/Blue</material>
  </gazebo>   
  <gazebo reference="rjoint2">
    <provideFeedback>true</provideFeedback>
  </gazebo>
  <gazebo>
    <plugin name="rft_sensor2" filename="libgazebo_ros_ft_sensor.so">
    <updateRate>100.0</updateRate>
    <topicName>rft_sensor2_topic</topicName>
    <jointName>rjoint2</jointName>
    </plugin>
  </gazebo>
  <!--RLINK3-->
  
  <gazebo reference="rlink3">
    <material>Gazebo/Blue</material>
  </gazebo>    
  <gazebo reference="rjoint3">
    <provideFeedback>true</provideFeedback>
  </gazebo>
  <gazebo>
    <plugin name="rft_sensor3" filename="libgazebo_ros_ft_sensor.so">
    <updateRate>100.0</updateRate>
    <topicName>rft_sensor3_topic</topicName>
    <jointName>rjoint3</jointName>
    </plugin>
  </gazebo>

</robot>