<?xml version="1.0" encoding="utf-8"?>
<robot
  name="hmr"
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="PI" value="3.1415926535897931"/>
  <!-- Import Rviz colors -->
  <!-- <xacro:include filename="$(find hmr)/urdf/materials.xacro" /> -->
  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <!-- <xacro:include filename="$(find hmr)/urdf/test2.gazebo" /> -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/hmr</robotNamespace>
      <!-- <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType> -->
    </plugin>
  </gazebo>  

  <!-- <link name="world"/>
  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="base"/>
  </joint> -->
  <link name="base">
  </link>
  <gazebo reference="base">
    <material>Gazebo/Blue</material>
  </gazebo>

  <joint name="imu_joint" type="fixed">
    <parent link="base"/>
    <child link="imu_link"/>
    <origin xyz="0.0 0.0 1.4 " rpy="0.0 0.0 3.1416"/> 
    <!-- 1.12 -->
  </joint>  

  <!--IMU-->
  <link name="imu_link"/>

  <gazebo reference="imu_link">
    <gravity>true</gravity>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <topic>__default_topic__</topic>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <topicName>imu/data</topicName>
        <bodyName>base</bodyName>
        <updateRateHZ>10.0</updateRateHZ>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>imu_link</frameName>
        <initialOrientationAsReference>false</initialOrientationAsReference>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>
  <!-- <gazebo reference="imu_link">
    <sensor type="imu" name="imu">
      <always_on>true</always_on>
    </sensor>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo>
    <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>imu_link</bodyName>
      <topicName>imu</topicName>
      <serviceName>imu_service</serviceName>
      <gaussianNoise>0.0</gaussianNoise>
      <updateRate>20.0</updateRate>
    </plugin>
  </gazebo> -->

  <!--BASE_LINK-->
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-8.1485E-05 0.040306 -0.00093209"
        rpy="0 0 0" />
      <mass
        value="2.4018" />
      <inertia
        ixx="0.0070769"
        ixy="-2.7325E-07"
        ixz="1.9337E-07"
        iyy="0.015485"
        iyz="-1.2071E-07"
        izz="0.009591" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hmr/hmr_description/meshes/base_link.STL" />
      </geometry>
      <material name="white">
        <color rgba="1.0 1.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hmr/hmr_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="base_link">
    <material>Gazebo/Blue</material>
  </gazebo>  
  <joint name="joint" type="fixed">
    <parent link="base"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 1.25 " rpy="0.0 0.0 3.1416"/> 
    <!-- 1.12 -->
  </joint>  
  <!--LLINK1-->
  <link
    name="llink1">
    <inertial>
      <origin
        xyz="0.056084 -0.21548 -1.1057E-06"
        rpy="0 0 0" />
      <mass
        value="0.43137" />
      <inertia
        ixx="0.0026126"
        ixy="-1.5474E-07"
        ixz="-5.4626E-08"
        iyy="0.00020436"
        iyz="-9.8E-06"
        izz="0.0027266" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hmr/hmr_description/meshes/llink1.STL" />
      </geometry>
      <material name="blue">
        <color rgba="0.0 0.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hmr/hmr_description/meshes/llink1.STL" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="llink1">
    <material>Gazebo/Blue</material>
  </gazebo>    
  <joint
    name="ljoint1"
    type="revolute">
    <origin
      xyz="0.1135 0.04 -0.06"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="llink1" />
    <axis
      xyz="1 0 0" />
    <limit lower="-0.6981" upper="0.5236" effort="2.0" velocity="0.2"/>
    <!-- <safety_controller soft_lower_limit="" soft_upper_limit="" k_position="" k_velocity=""/> -->
  </joint>
  <!--LLINK2-->
  <link
    name="llink2">
    <inertial>
      <origin
        xyz="0.054446 -0.17796 -0.0015786"
        rpy="0 0 0" />
      <mass
        value="0.45541" />
      <inertia
        ixx="0.002625"
        ixy="6.5245E-19"
        ixz="-3.637E-17"
        iyy="0.00023283"
        iyz="4.9149E-06"
        izz="0.0027437" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hmr/hmr_description/meshes/llink2.STL" />
      </geometry>
      <material name="green">
        <color rgba="0.0 1.0 0.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hmr/hmr_description/meshes/llink2.STL" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="llink2">
    <material>Gazebo/Blue</material>
  </gazebo>   
  <joint
    name="ljoint2"
    type="revolute">
    <origin
      xyz="0 -0.438 0"
      rpy="0 0 0" />
    <parent
      link="llink1" />
    <child
      link="llink2" />
    <axis
      xyz="1 0 0" />
    <limit lower="0.0" upper="1.0472" effort="2.0" velocity="0.2"/>
    <!-- <safety_controller soft_lower_limit="" soft_upper_limit="" k_position="" k_velocity=""/> -->
  </joint>
  <!--LLINK3-->
  <link
    name="llink3">
    <inertial>
      <origin
        xyz="0.049198 -0.036675 0.049331"
        rpy="0 0 0" />
      <mass
        value="0.29119" />
      <inertia
        ixx="0.00061049"
        ixy="1.3662E-07"
        ixz="-9.6685E-08"
        iyy="0.00068435"
        iyz="-6.0356E-08"
        izz="0.00011606" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hmr/hmr_description/meshes/llink3.STL" />
      </geometry>
      <material name="red">
        <color rgba="1.0 0.0 0.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hmr/hmr_description/meshes/llink3.STL" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="llink3">
    <material>Gazebo/Blue</material>
  </gazebo>    
  <joint
    name="ljoint3"
    type="revolute">
    <origin
      xyz="0.00735 -0.44 0"
      rpy="0 0 0" />
    <parent
      link="llink2" />
    <child
      link="llink3" />
    <axis
      xyz="1 0 0" />
    <limit lower="-0.3491" upper="0.8727" effort="2.0" velocity="0.2"/>
    <!-- <safety_controller soft_lower_limit="" soft_upper_limit="" k_position="" k_velocity=""/> -->
  </joint>
  <!--RLINK1-->
  <link
    name="rlink1">
    <inertial>
      <origin
        xyz="-0.046266 -0.21548 -1.1057E-06"
        rpy="0 0 0" />
      <mass
        value="0.43137" />
      <inertia
        ixx="0.0026126"
        ixy="-1.5474E-07"
        ixz="-5.4626E-08"
        iyy="0.00020436"
        iyz="-9.8E-06"
        izz="0.0027266" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hmr/hmr_description/meshes/rlink1.STL" />
      </geometry>
      <material name="blue">
        <color rgba="0.0 0.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hmr/hmr_description/meshes/rlink1.STL" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="rlink1">
    <material>Gazebo/Blue</material>
  </gazebo>    
  <joint
    name="rjoint1"
    type="revolute">
    <origin
      xyz="-0.12415 0.04 -0.06"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="rlink1" />
    <axis
      xyz="1 0 0" />
    <limit lower="-0.6981" upper="0.5236" effort="2.0" velocity="0.2"/>
    <!-- <safety_controller soft_lower_limit="" soft_upper_limit="" k_position="" k_velocity=""/> -->
  </joint>
  <!--RLINK2-->
  <link
    name="rlink2">
    <inertial>
      <origin
        xyz="-0.047904 -0.17796 -0.0015786"
        rpy="0 0 0" />
      <mass
        value="0.45541" />
      <inertia
        ixx="0.002625"
        ixy="6.3076E-19"
        ixz="-3.6373E-17"
        iyy="0.00023283"
        iyz="4.9149E-06"
        izz="0.0027437" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hmr/hmr_description/meshes/rlink2.STL" />
      </geometry>
      <material name="green">
        <color rgba="0.0 1.0 0.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hmr/hmr_description/meshes/rlink2.STL" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="rlink2">
    <material>Gazebo/Blue</material>
  </gazebo>   
  <joint
    name="rjoint2"
    type="revolute">
    <origin
      xyz="0 -0.438 0"
      rpy="0 0 0" />
    <parent
      link="rlink1" />
    <child
      link="rlink2" />
    <axis
      xyz="1 0 0" />
    <limit lower="0.0" upper="1.0472" effort="2.0" velocity="0.2"/>
    <!-- <safety_controller soft_lower_limit="" soft_upper_limit="" k_position="" k_velocity=""/> -->
  </joint>  
  <!--RLINK3-->
  <link
    name="rlink3">
    <inertial>
      <origin
        xyz="-0.045802 -0.036675 0.049331"
        rpy="0 0 0" />
      <mass
        value="0.29119" />
      <inertia
        ixx="0.00061049"
        ixy="1.3662E-07"
        ixz="-9.6685E-08"
        iyy="0.00068435"
        iyz="-6.0356E-08"
        izz="0.00011606" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hmr/hmr_description/meshes/rlink3.STL" />
      </geometry>
      <material name="red">
        <color rgba="1.0 0.0 0.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hmr/hmr_description/meshes/rlink3.STL" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="rlink3">
    <material>Gazebo/Blue</material>
  </gazebo>    
  <joint
    name="rjoint3"
    type="revolute">
    <origin
      xyz="0 -0.44 0"
      rpy="0 0 0" />
    <parent
      link="rlink2" />
    <child
      link="rlink3" />
    <axis
      xyz="1 0 0" />
    <limit lower="-0.3491" upper="0.8727" effort="2.0" velocity="0.2"/>
    <!-- <safety_controller soft_lower_limit="" soft_upper_limit="" k_position="" k_velocity=""/> -->
  </joint>
  <!--  -->
  <transmission name="ltran1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="ljoint1">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="lmotor1">
      <mechanicalReduction>1.0</mechanicalReduction>
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </actuator>
  </transmission>

  <transmission name="ltran2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="ljoint2">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="lmotor2">
      <mechanicalReduction>1.0</mechanicalReduction>
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </actuator>
  </transmission>

  <transmission name="ltran3">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="ljoint3">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="lmotor3">
      <mechanicalReduction>1.0</mechanicalReduction>
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </actuator>
  </transmission>

  <transmission name="rtran1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rjoint1">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="rmotor1">
      <mechanicalReduction>1.0</mechanicalReduction>
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </actuator>
  </transmission>

  <transmission name="rtran2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rjoint2">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="rmotor2">
      <mechanicalReduction>1.0</mechanicalReduction>
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </actuator>
  </transmission>

  <transmission name="rtran3">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rjoint3">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="rmotor3">
      <mechanicalReduction>1.0</mechanicalReduction>
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </actuator>
  </transmission>

</robot>